#header{
    background-color: antiquewhite;
    color: aqua;


}
.heading{
    background-color: aqua;
}

.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 5px;
    text-align: center;
    background-color: rgb(84, 84, 210);
}